@model QLCafe.Models.Drink

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Drink</h4>
<hr />
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var modelState in ViewData.ModelState.Values)
            {
                foreach (var error in modelState.Errors)
                {
                    <li>@error.ErrorMessage</li>
                }
            }
        </ul>
    </div>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="DrinkName" class="control-label"></label>
                <input asp-for="DrinkName" class="form-control" />
                <span asp-validation-for="DrinkName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Des" class="control-label"></label>
                <input asp-for="Des" class="form-control" />
                <span asp-validation-for="Des" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Chọn ảnh</label>
                <input type="file" name="file" class="form-control" />
                @Html.ValidationMessage("file", null, new { @class = "text-danger" }) <!-- Thêm dòng này -->
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
